@import "../../assets/stylesheets/main";

.work-container {
    position: absolute;
    z-index: 3;
    // top: 30%;

    left: 0;
    right: 0;
    bottom: 0;
  
    opacity: 0;

    display: flex;
    justify-content: center;
  
    align-items: center;
    background-color: transparent;
     pointer-events: none;
 
  &.true {
    z-index: 5;
  }

   &.hide {
     z-index: 5;
     .preview-container {
       pointer-events: none;
      //  opacity: 0;
     }

     .project-display-background {
       width: 100vw;
       left: 0%;
       transition: width 800ms $easeInOut3, left 800ms $easeInOut3;
      //  transform: translateX(0%)
     }
   }
   .project-display-background {
      position: fixed; 
      top: 0;
      left: 50%;
      right: 0;
      bottom: 0;
      z-index: 1;
      background-color: $darkRed;
      transition:width 500ms $easeInOut3, left 500ms $easeInOut3;
      width: 0;
    

     
   }
    .preview-container {
      // flex: 1 1 1;
   
     
      // background-color: #fff;
      background-color: rgba(255,255,255,1);
      border: 1px solid #fff;
      width: (350/1920) * 100vw;
      height: (500/1920) * 100vw; 
      margin: $Dmw/2;
      margin-bottom: $Dmw *2;
      padding: $Dmw; 
      box-sizing: border-box;

      display: flex;
      justify-content: space-between;
      flex-direction: column;
      transition: border 500ms $easeInOut3, transform 500ms $easeInOut3, box-shadow 500ms $easeInOut3;

       box-shadow: -1px 11px 17px -3px rgba(0,0,0,0.62);
       opacity: 1;

      &:hover {
         border: 1px solid $darkRed;
        box-shadow: -1px 13px 18px -3px rgba(0,0,0,0.90);
        transform: translateY(-10px);
        cursor: pointer;
      }

      h2 {
        opacity: 1;
        font-size:(25/1920) * 100vw;
      }
      .info {
        opacity: 1;
        
        h4 {
          margin-top: 10px;
        }
      }
    }
    
}